/*CSS Styles*/
	
		/*Document notes
		 *The background for #main is temporarily red, which causes it to flash during window resize.
		 *Have to change it to something subtle, this is temporarily for debugging.
		 *The Sidebar width is hardcoded both in CSS and the Javascript.
		 *Any changes to the dimensions/layout have to be adjusted in both.
		 *Currently not happy with the text style of the nav buttons - minor task to be accomplished in Photoshop.
		 */
		 
		 body {
			margin: 0px; padding: 0px;
			background-color: red;
			font-family: sans-serif;
		}
		#header {
			margin: 0px; padding: 0px;
			background: url(../images/header-slice.jpg) repeat-x;
			min-height: 40px;
			color: white;
		}
		ul#header-nav {
			margin: 0px;
			padding: 0px 0px 0px 20px;
			list-style-type: none;
		}
		ul#header-nav li {
			float: left;
			margin: 0px;
			padding-left: 3px;
			padding-right: 3px;			
			height: 38px;
		}
		ul#header-nav a {
			display: block;
			margin: 0px;
			padding: 2px 5px 0px 5px;	
			height: 40px;
			color: white;
			text-indent:-9999px;
		}
		ul#header-nav li a {
			width: 160px;
			background: url(../images/nav-sprite.png);
		}
		ul#header-nav li#buyer a {
			background-position: -8px -52px;
		}
		ul#header-nav li#buyer a:hover {
			background-position: -8px -8px;
		}
		ul#header-nav li#seller a {
		
			background-position: -222px -52px;
		}
		ul#header-nav li#seller a:hover {
			background-position: -222px -8px;
		}
		ul#header-nav li#blog a {
			background-position: -426px -52px;
		}
		ul#header-nav li#blog a:hover {
			background-position: -426px -8px;
		}
		#main {
			margin: 0px; padding: 0px;
			background-color: red;
		}
		#content {
			margin: 0px; padding: 0px;
			background: #BBBBBB;
			float: left;
			width: 500px;
		}
		#sidebar {
			margin: 0px; padding: 0px;
			padding-left: 15px;
			background: #111111;
			float: left;;
			width: 200px;
			color: #FFFFFF;
			border-left: 1px solid black;
		}
		#footer {
			margin: 0px; padding: 0px;
			height: 30px;
			color: white;
			background: #333333 url(../images/footer-slice.jpg) repeat-x;
			border-top: 2px solid #222222;
			position: fixed;
			width: 100%;
			bottom: 0px;
			left: 0px;
		}

